body {
  max-width: 1000px;
  margin: 0 auto;
}

#path-dialog {
  display: none;
}

div.ui.large.menu {
  margin: 10px;
}

div.ui.small.icon.input {
  width: 400px;
}

div.ui.floating.dropdown.item {
  width: 120px;
}

.container {
  margin: 10px;
}